/**index sayfası*/

.profil{
    border-radius: 50%;
    box-shadow: 10px 2px 10px black;
}


 .navbar-nav .nav-item .nav-link:hover
,.navbar-brand .fa-solid:hover{
    color: #17a2b8;
}



footer .list-unstyled
{
    font-size: 1.1rem;
    color:#6e7479;
}

footer .list-unstyled:hover
{
    font-size: 1.1rem;
    color: #17a2b8!important;
}


.copyright
{
    background-color:#343a40;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}



.card:hover{
    box-shadow: .1rem .1rem .1rem #17a2b8;
}

.social .fa-brands
{
    font-size: 1.6rem;
    text-align: center;
    padding: .6rem 2.8rem;
}


.social .fa-brands:hover
{
    
    color:#17a2b8;;
}

.list-unstyled .text-muted:hover
{
    color: #17a2b8!important;
    text-decoration: none;
    transition: .3s;
}


/*about sayfası */




/*freework.html */

figure.zoom {
    background-position: 50% 50%;
    position: relative;
    margin: 3rem auto;
    border: 2px solid white;
    box-shadow: -1px 5px 5px black;
    height: 250px;
    width: 250px;
    overflow: hidden;
    cursor: zoom-in;
  }
  
  figure.zoom img:hover {
    opacity: 0;
  }
  
  figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
    height: 100%;
  }


  .container nav
  {
    float: right!important;
    
  }


/*contact.html*/

.harita {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
}
.harita iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 60% !important;
}


